/* css styles */

.experience {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333333;
  margin-bottom: 20px;
}

.job-title {
  font-weight: bold;
}

.company {
  color: #333333; /* Blue color for company name */
}

.date {
  font-style: italic;
  color: #666666; /* Gray color for dates */
  display: block;
}




